<div class="container">

  <h2>Edit registration</h2>

  <form action="/registration/edit/{{_id}}" method="POST">

    <div class="mb-3">
      <label for="fullname" class="form-label">Full name</label>
      <input type="text" class="form-control" id="fullname" name="fullname" value="{{fullname}}">
    </div>
    <div class="mb-3">
      <label for="event">Event</label>
      <select id="event" name="event" class="form-select" aria-label="Default select example">
        <option value="Course Full Dtack Developer" {{#if (eq event "Course Full Dtack Developer")}}selected{{/if}}>Course Full Dtack Developer</option>
        <option value="Course Front End Developer" {{#if (eq event "Course Front End Developer")}}selected{{/if}}>Course Front End Developer</option>
        <option value="Course Back End Developer" {{#if (eq event "Course Back End Developer")}}selected{{/if}}>Course Back End Developer</option>
      </select>
    </div>
 
    <div class="mb-3">
      <label for="city">City</label>
      <select id="city" name="city" class="form-select" aria-label="Default select example">
        <option value="Online" {{#if (eq city "Online")}}selected{{/if}}>Online</option>
        <option value="Warszawa" {{#if (eq city "Warszawa")}}selected{{/if}}>Warszawa</option>
        <option value="Kraków" {{#if (eq city "Kraków")}}selected{{/if}}>Kraków</option>
      </select>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>

  </form>

</div>